{% extends "base.html" %}

{% block content %}
  <h2 class="header-2">{{ airport.name }}</h2>
  <p class="article">
    City: {{ airport.city }}<br>
    Country: {{ airport.country }}<br>
    Timezone: {{ airport.timezone }}<br>
    Latitude: {{ airport.latitude }}<br>
    Longitude: {{ airport.longitude }}
  </p>

  <a href="{% url 'management:airport-update' pk=airport.id %}" class="btn btn-secondary">
    Update
  </a>

  <a href="{% url 'management:airport-delete' pk=airport.id %}" class="btn btn-secondary btn-danger">
    Delete
  </a>
{% endblock %}