{% extends "base.html" %}

{% block content %}
  <h2 class="header-2">{{ flight.flight_number }}</h2>
  <p class="article">
    Plane: {{ flight.plane }}<br>
    Departure: {{ flight.departure }} {{ flight.takeoff }}<br>
    Destination: {{ flight.destination }} {{ flight.landing }}<br>
    Status: {{ flight.status }}</p> {# change text color for different statuses #}
  <h3 class="header-3">Staff:</h3>
  <ul class="article-ul">
  {% for staff in flight.staff.all %}
    <li>
    {{ staff }}
    </li>
  {% endfor %}
  </ul>
  <a href="{% url 'management:flight-update' pk=flight.id %}" class="btn btn-secondary link-to-page">
    Update
  </a>
  <a href="{% url 'management:flight-delete' pk=flight.id %}" class="btn btn-danger link-to-page">
    Delete
  </a>

{% endblock %}
