{% extends "base.html" %}

{% block content %}
  <h2 class="h2">{{ plane.model }}</h2>
  <p class="article">
    Registration: {{ plane.registration }}<br>
    Capacity: {{ plane.capacity }}<br>
    Last maintenance: {{ plane.last_maintenance }}<br>
    Hours to maintenance: {{ plane.hours_to_maintenance }}<br>
    Total hours: {{ plane.total_hours }}<br>
  </p>

  <a href="{% url 'management:plane-update' pk=plane.id %}" class="btn btn-secondary">
    Update
  </a>
  <a href="{% url 'management:plane-delete' pk=plane.id %}" class="btn btn-danger">
    Delete
  </a>
{% endblock %}
